@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Marcellus', sans-serif;
}

:root {
  --color-white: #fff;
  --color-primary: #130a25;
  --color-yellow: #ffd143;
  --color-neutral: #929292;
  --color-neutral2: #92929230;
}


/* Nav-bar */

.contain-nav-bar {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all .3s solid;
}

.contain-nav-bar:hover {
  background-color: var(--color-neutral2);
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2.5rem;
}

.contain-nav-bar {
  position: fixed;
  background-color: transparent;
  z-index: 999;
  top: 0;
  left: 0;
}

.contain-nav-bar h1 {
  color: var(--color-white);
}

nav a {
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;
  color: var(--color-white);
  position: relative;
  transition: all 0.3s;


&:after{
  content:'';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: var(--color-yellow);
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform 0.3s ease;
}

&:hover {
  &::after{
    transform: scaleX(1);
  }
}
}
.contato {
  color: var(--color-yellow);
}


/* home */

.home {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-image: url(./assets/home2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
 }

 .contain-text {
  padding: 1rem 0 0 13.5rem;
 }


section h1 {
  color: var(--color-white);
  font-size: 4.3125rem;
  font-weight: 400;
  line-height: 140%;
}

.contain-text p {
  color: var(--color-white);
  padding: 1.4rem 0;
  font-size: 1.5rem;
  font-weight: 300;
}

button {
  display: flex;
  justify-content: center;
  width: 8.25rem;
  height: 2.5rem;
  padding: 0.6rem 0.6rem 0.6rem 1rem;
  align-items: center;
  gap: 0.32rem;
  padding: .7rem 1rem;
  font-size: .9rem;
  border: none;
  border-radius: 1.5rem;
  background: var(--color-yellow);
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.25);
}

  /* About Us */

.about {
  width: 100%;
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-about {
  width: 50%;
  padding: 10rem;
}

.img-about {
  width:  45rem;
  height: 43rem;
}

.about h2 {
  font-size: 50px;
  margin: 3rem 0;
}

.about p {
  width: 130%;
  color: #130A25;
  text-align: justify;
  font-family: Marcellus;
  font-size: 1.2rem;
  font-weight: 400;
}

